.aboutContainer {
	display: grid;
	place-items: center;
	height: 80vh;
}

.aboutContainer main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 80px;
	border: 1px solid #fff;
}

.aboutContainer main h1 {
	font-size: 2.6rem;
	margin: 0;
}

.aboutContainer main div {
	font-family: 'Merriweather', serif;
	font-size: 1.2rem;
}

.backLink {
	margin-top: 20px;
}

@media (max-width: 600px) {
	.aboutContainer main {
		padding: 20px 20px;
	}

	.aboutContainer main h1 {
		font-size: 1.9rem;
	}

	.aboutContainer main div {
		font-size: 1rem;
	}

	.backLink {
		font-size: 0.9rem;
	}
}
