.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 40px 0 20px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #888888;
}

.noIssues {
	height: 55vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	text-shadow: 2px 2px #000;
}

.main {
	min-height: 65vh;
}

.noIssues span {
	padding: 0 5px;
	font-weight: 800;
	color: #346751;
}

@media (max-width: 600px) {
	.noIssues {
		font-size: 0.8rem;
	}
}
