.container {
	max-width: 900px;
	margin: 20px auto;
	overflow: auto;
	min-height: 300px;
	padding: 30px;
	border-radius: 4px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #888888;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
